@charset "UTF-8";
/* CSS Document */

* { box-sizing: border-box; }

html{


}

body {
  background-color: #3b3b3b;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgb(9, 46, 31) 35%, #8cd790 88%);
  font-family: sans-serif;
}

b {
  font-size: 120%;
  vertical-align: text-bottom;
}

p {
color:white;
margin-left: 8%;
}
/* ---- button ---- */

.silah{

  margin: 0;
  padding: 0;
  border: 0;
  float: bottom;

}

.left{
  
  
  width: 10%;
  z-index: 5;
  left: 0%;
  position: fixed;
float: left;

top: 12%;}

.right
  {
    top: 12%;
    
    right: -3%;
    z-index: 6;
    position: fixed;
  float: right;
  width: 10%;

}

.icon{

  width: 15%;
  height: auto;
}
.Name{
  font-family: 'Teko', sans-serif;
  font-size: auto;
  text-shadow: 2px 2px 6px #b6be8a;
}

.button {
 
  width: 100%;
  display: inline-block;
  padding: 0.5em 1.5em;
  background:rgb(9, 46, 31);
  border: none;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.sag
{font-family: 'Bowlby One SC', cursive;;
  font-weight: bold;
  background: #8cd790;
  color: black;
  
  
}
.sol
{
  font-family: 'Bowlby One SC', cursive;;
}

.resimli{
  border: none;
  padding: 0;
  background: none;
   cursor: pointer;
}

.chosen{
   border-style: solid;
  border-width: 1px;
  border-color: gold;
}

.Iname{
  margin-top: 4%;
  width: 100%;
  margin-right: 100%;
 margin-left: 5%;
 left: 5%;
}


/**.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}**/

.buton.selected{
  color: black;

  background-color: gold;

}



.result {
margin-top: 12%;
height: 75px;
}

.resultad{
     width: 165px;
    margin-top: 1%;

    height: auto;
    float: left;
    border-style:solid;
  border-width: 2px;
  border-color: gold;
  }

.buton:focus {
  outline:0;
}
.button:focus {
  outline:0;
}
.resimli:focus {
  outline-color: gold;
}

.button:active,
.button.is-checked {
  /* background-color: #285943; */
  
  

border-style: solid;
border-width: 1px;
border-color: white;

}


.sag:active,
.sag.is-checked {
  /* background-color: #285943; */
  

border-style: solid;
border-width: 2px;
border-color: black;

}



.items{



}

.items1{
margin-top: 25%;
}



/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  margin-left: 0.1em;
  margin-right: 1px;
}



/* ---- isotope ---- */

.grid {
 
  max-width: 1000px;
  /* margin: auto; */
margin-left: 20%;
 
 margin-top: -5%; 
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* filters */
.filters {
	display: table;
	
	margin:auto;
	
}


/* ui group */

.ui-group {
  display: table-row;
 

} 
.buton {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-style: none;
  background: transparent;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.item{
  font-family: 'Teko', sans-serif;

}
.champion{
  border-right-style: solid;
  border-right-color: white;
  margin-left: 0;
  left: 0;
  float: left;
  font-family: 'Teko', sans-serif;
  }


.buton:hover{
  /* background-color: white; */
}

.heading {

  left: 44%;
  float: none;
  position: fixed;
  margin-top: 2%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
 width:auto;	
 display:table-cell;

 
}

#ItemName {

  /*margin-left: 8%;*/
 text-align: center;
  margin-top: 1%;
  margin-bottom: 0;
  font-family: 'Teko', sans-serif;
  font-size: 42px;
}

#desc {
height: 100%;
    margin-top: -0.5%;
    font-size: 140%;
    width: 100%;
    text-align: center;
    font-family: 'Teko', sans-serif;


}

.secondary {
  /*position: fixed;*/
  width: 687px;
margin-top: 20%;
    margin-left: 0%;
}
}

.description
{  
margin-left: 40%;
height: 151px;
  width: 100%;



}

.cost{
  float: right;
  font-size: 130%; 



  margin-right: 30%;
  left: 0;
}

.ui-group h3 {
  display: inline-block;
  /*vertical-align: top;
  line-height: 32px;*/
  margin-right: 0.2em;
  font-size: 16px;
  color:#b01861;
}

.ui-group .button-group  {
  display: inline-block;
  margin-right: 50px;
  vertical-align:middle;
}



/* office-year-function */
 .office-year-function {

	width:250px;
	height:160px;
    float: left;
    margin-left:auto;
    margin-right: auto;
	margin-top:10px;
	margin-bottom:10px;
	position:relative;
	
	
 }


.office-year-function>.cell-child {
	height:100%;
	width:100%;
	position:absolute;
	
}

.office-year-function>.img-hover {

	position:relative;
	text-align:center;
	
}

.office-year-function>.img-hover:hover {
	opacity:0.9;

} 

.img-hover h3 {
  /*display: inline-block;
  vertical-align: top;*/
 	line-height: 50%;
	font-size: 19px;
	color:#FFFFFF;
}

.img-hover h4 {
	
	
	line-height: 50%;
	font-size: 15px;
  	color:#FFFFFF;
}

.hidden{visibility:hidden;
  width:0px!important;
  height:0px!important;
  margin:0px!important;
  padding:0px!important;
  }